/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet); */
/* @import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@0;1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Tiro+Tamil:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Palatino:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/Palatino');
/* @import url('https://fonts.googleapis.com/css2?family=Noto Sans:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);


body {
/*	background-image: url("../images/bg1.png"); */
	background-color: #FFFFFF;
	color: #000000;
	style="font-family: 'Palatino', 'Palatino', serif;"
}

/* リンク */
a {
 color: #22A6BF;
	/* color: #0000CD;  */
	text-decoration: none;
}
a:hover {
 color: #775999;
	/* color: #DC143C;  */
}

.topicPath { font-size: 12px; }

/* ページの先頭へ戻る */
.pagetop {
	font-size: 12px;
	text-align: right;
	margin-top: 30px;
}

/*.pagetop a {
	background-image: url("../images/ico_pagetop.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 10px;
}*/


/* ページ */
#page {
	width: 980px;
	margin: 0 auto;
}

/* ページヘッダー*/
#pageHead #siteTitle {
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 10px;
	font-family: 'Palatino', 'Palatino', serif;

	/* font-family:  'Palatino', 'Palatino', 'Palatino', 'Palatino', 'Noto Sans', 'Noto Sans', serif;, sans serif; */
 color:#f55f07
}

#pageHead #catchcopy {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
}


















/* グローバルナビ */
#pageHead .globalNavi {
	border: solid #000000;
	border-width: 1px 0;
	background-color:#f8fafa;
	padding: 10px 0;
	/* position:fixed; */
	/* position:fixed; */
	/* width:100%; */
	/* z-index: 1; */
}

#pageHead .globalNavi ul {
	margin: 0;
	padding: 0;
}

#pageHead .globalNavi ul:after {
	content: "";
	clear: both;
	display: block;
}

#pageHead .globalNavi ul li {
	list-style: none;
	width: 140px;
	float: left;
	border-left: solid 1px #000000;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
}


#pageHead .globalNavi ul li:first-child {
	border-left: none;
}

#pageHead .globalNavi ul li a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	display: block;
	/* padding: 3px 3px; */
	font-family: 'Aleo', serif;
	font-size: 18px;
}
#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current a {
	background-color: #f55f07;
	/* background-color:#FB581F; */
	color: #FFFFFF;
	font-family: 'Aleo', serif;	
	font-size: 18px;
}

/* ページフッター */

#pageFoot {
	border-top: solid 1px #000000;
	margin-top: 15px;
}

#pageFoot #copyright small {
	font-size: 18px;
	line-height: 1.5;
}

/* ページボディ */
#pageBody {
	margin-top: 10px;
	font-family: Palatino, serif;
	font-size: 25px
/*	background-color: #FFCC66;
	border: solid 10px #FF0000; */
}

#pageBody:after {
	content: "";
	clear: both;
	display: block;
}

#pageBodyMain {
	width: 980px;
	float: left;
/*	background-color: #66CCFF; */
}

#pageBodySub {
    width: 950px;
    float: left;
    margin-top : -15px ;
	/*	float: right;*/
/*	background-color: #99FF66; */
}

#pageBodySub ul {
    list-style: square;
    padding: 0;
}


#pageBodySub ul li {
	font-size: 16px;
	line-height: 1.429;
	margin-bottom: 12px;
	/* background-image: url("../images/ico_arrow.png"); */
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left: 0px;
	font-family: 'Palatino', 'Palatino', serif;		
	font-size: 18px;
}



/* ----- サブカラム内の装飾 ----- */

/* 見出し */
#pageBodySub h2 {
	font-size: 16px;
	line-height: 1.375;
	padding: 5px;
	margin-top: 0;
	border-bottom: 1px solid #000000;
	font-family: 'Palatino', 'Palatino', serif;	
	font-size: 21px;
	border-radius: 10px;
	background: #d9e9f2;
}




/* おしらせ */
/* #pageBodySub .newsList ul {
    list-style: none;
    padding: 0;
}
#pageBodySub .newsList ul li {
    font-size: 12px;
    line-height: 1.5;
    margin: 10px 5px;
}

#pageBodySub .newsList ul li time {
	font-weight: bold;
	display: block;
} */

.main-img {
    margin: 0 3rem 1rem 0;
    shape-outside: circle();
    float: none;
}

.round-img {
    width: 20%;
    object-fit: cover;
    border-radius: 40% 70% 50% 30% / 50%;
}


/* ローカルナビ */
#pageBodySub .localNavi ul {
	margin: 0 0 30px;
	padding-left: 0;
}
#pageBodySub .localNavi ul li {
	font-size: 14px;
	line-height: 1.429;
	margin-bottom: 12px;
	list-style-type: none;
	background-image: url("../images/ico_arrow.png");
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding-left: 10px;
}

/* ----- メインカラム内の装飾 ----- */

#pageBodyMain p {
	font-size: 20px;
	line-height: 1.429;
	font-family: 'Palatino', 'Palatino', serif; 	
}

/* リスト */
#pageBodyMain ul li {
	font-size: 20px;
	list-style-type: square;
	line-height: 1.429;
	padding-bottom: 6px;
	font-family: 'Palatino', 'Palatino', serif; 
	
}

#pageBodyMain ol li {
	font-size: 20px;
	line-height: 1.429;
	padding-bottom: 6px;
	font-family: 'Palatino', 'Palatino', serif; 
	
}

/* 表1 */
#pageBodyMain table {
	font-size: 18px;
	line-height: 1.429;
	border: 1px solid #000000;
	border-collapse: collapse;
	width: 100%;
}

#pageBodyMain  th,
#pageBodyMain table td {
	background-color: #FFFFFF;
	border: 2px solid #000000;
	padding: 5px 10px;
	width: 150px;
	height: 20px;
}

#pageBodyMain table th{
	background-color: #FFFFFF;
	text-align: left;
	width: 60px;
}

#pageBodyMain table caption{
	text-align: left;
	font-weight: bold:
}

/* 表2 */
#pageBodyMain .table-Participants {
	font-size: 18px;
	line-height: 1.429;
	border: 1px solid #000000;
	border-collapse: collapse;
	border: 1.5px solid #000000;
	table-layout: fixed;
	counter-reset: rowCount -1;
/*	width: 100%;  */
}

#pageBodyMain .table-Participants td {
	background-color: #FFFFFF;
	border: 0px solid #000000;
	padding: 5px 10px;
	text-align: left;
/*	width: 150px; */
/*	height: 2px; */
}

#pageBodyMain .table-Participants th {
     background-color: #FFFFFF;
    	border: 0px solid #000000;
    	border-bottom: 1.5px solid #000000;
	text-align: left;
/*	width: 60px; */
}

/* 表3 */
#pageBodyMain .table-noframe {
	font-size: 18px;
	line-height: 1.429;
	border: none;
	/* margin: 20px 20px; */
	margin-left: 50px;
	margin-right: 50px;
	/* border: 1px solid #000000;
	border-collapse: collapse;
	border: 1.5px solid #000000; */
	table-layout: fixed;
	counter-reset: rowCount -1;
	width: 880px;
	font-family: 'Palatino', 'Palatino', serif; 
	
/*	width: 100%;  */
}

#pageBodyMain .table-noframe td {
	background-color: #FFFFFF;
	border: none;
	/* border: 0px solid #000000; */
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
	font-family: 'Palatino', 'Palatino', serif; 
	
/*	width: 150px; */
/*	height: 2px; */
}

#pageBodyMain .table-noframe th {
 background-color: #FFFFFF;
	border: none;
	/* border: 0px solid #000000;
	border-bottom: 1.5px solid #000000; */
	text-align: left;
/*	width: 60px; */
}

/*
#pageBodyMain .table-Participants > tbody > tr {
  counter-increment: rowCount;
}

#pageBodyMain .table-Participants > tbody > tr > td:first-child::before {
  content: counter(rowCount);
}
*/

/*
#pageBodyMain .table-Participants .num {
  width: 100px;
}

#pageBodyMain .table-Participants colgroup#number {
    width: 200px;
	}

#pageBodyMain .table-Participants colgroup#name {
    width: 10px;
}

#pageBodyMain .table-Participants colgroup#aff {
    width: 10px;
}

#pageBodyMain .table-Participants colgroup#position {
    width: 10px;
	}
*/

#pageBodyMain .table-Participants caption {
	text-align: left;
	font-weight: bold:
}



/* 図版 */
figure {
	margin: 0;
}

/* 画像キャプション */
#pageBodyMain figcaption {
	font-size: 12px;
}

/* 見出し */
#pageBodyMain .pageTitle {
	font-size: 30px;
	/* background-color: #FB581F; */
	text-align: center;
 background-color: #f55f07;
	color: #FFFFFF;
 padding: 3px 3px;
	line-height: 1.231;
	/* margin-top: 0; */
	font-family: 'Palatino', 'Palatino', serif; 
	
}

#pageBodyMain .heading-typeA {
	font-size: 14px;
	color: #1b07f5;
	border-left: solid 8px#8607f5;
	border-bottom: solid 1px #349FA6;
	padding: 5px;
	line-height: 1.333;
}

#pageBodyMain .heading-typeB {
	font-size: 20px;
	/* border-left: solid 5px #22A6BF;
	border-bottom: solid 2px #22A6BF; */
	border-left: solid 8px#8607f5;
	border-bottom: solid 2px#8607f5;
	padding-left: 10px;
	line-height: 1.375;
	background: #d9e9f2;
	font-family: 'Aleo', serif; 
	/* h4 { */
		font-size: 25px;
		font-weight: bold;
		/* padding: 10px 30px 10px 25px; */
		margin-bottom: 1em;
		/* border-left: 5px solid #f55f07; */
	  /* } */
		
}

#pageBodyMain .heading-typeC {
	font-size: 16px;
	line-height: 1.429;
	font-family: 'Palatino', 'Palatino', serif; 
}

/* 区切り線・余白 */
#pageBodyMain .articleDetailHead {
	border-bottom: solid 1px #000000;
	margin-bottom: 30px;
	padding-bottom: 15px
}
#pageBodyMain .articleDetailFoot {
	border-top: solid 1px #000000;
	margin-top: 30px;
	padding-top: 15px;
}

#pageBodyMain .articleDetailBody section{
	margin: 30px 0;
}

/* 撮影情報 */
#pageBodyMain .creditUnit {
	padding: 10px;
	border: solid 1px #000000;
}

#pageBodyMain .creditUnit p {
	font-size: 12px;
	line-height: 1.5;
}



/* body {
	font-size: 40px;
	color: #E8E8E8;
	font-family: "`Palatino", cursive;
	display: block;
	width: 80%;
	height: 80%;
	min-height: auto;
	margin: 30px auto 0 auto;
	background-color: #030303;
	padding: 20px 30px;
	overflow-y: auto;
	/* box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555; */
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	/* border: #B78240 solid 10px; */
	background-size: cover;
	background-repeat: repeat;
	position: relative;
  }
  
  body:after {
	content: "";
	display: block;
	position: fixed;
	-webkit-border-radius: 0.1em 0.1em 0 0.1em;
	-khtml-border-radius: 0.1em 0.1em 0 0.1em;
	-moz-border-radius: 0.1em 0.1em 0 0.1em;
	-ms-border-radius: 0.1em 0.1em 0 0.1em;
	-o-border-radius: 0.1em 0.1em 0 0.1em;
	border-radius: 0.1em 0.1em 0 0.1em;
	width: 50px;
	height: 8px;
	background: #f1f1f1;
	top: 80%;
	margin-top: 75px;
	margin-right: 60px;
	right: 5%;
	box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3)
  }  */
  
  a {
	color: rgb(7, 141, 237)
  }